{% extends "base.html" %}

<!-- created by Farida Tahiry and Ropafadzo Shava-->

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="{{url_for('display')}}">View Opportunities</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('upload')}}">Post Opportunity</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
  </ul>
</div>
{% endblock %}

{% block page_content %}

<div>
  <br><br><br>
  <div class="search-container">
    <form action="{{url_for('search')}}">
      <label> Wellesley Affliation 
        <select required name="kind" >
            <option value>Any</option>
            {% for affiliation in affiliations %}
            <option value="{{affiliation}}">{{affiliation.get('affiliation')}}</option>
            {% endfor %}
        </select>
      </label>
      <label> Proffession 
        <select required name="kind" >
            <option value>Any</option>
            {% for prof in professions %}
            <option value="{{prof.get('profession')}}">{{prof.get('profession')}}</option>
            {% endfor %}
        </select>
      </label>
      <label> Institution 
        <select required name="kind" >
            <option value>Any</option>
            {% for inst in institutions %}
            <option value="{{inst.get('institution')}}">{{inst.get('institution')}}</option>
            {% endfor %}
        </select>
      </label>
      <input type="text" placeholder="search ..." required name ="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  

  <table id="pid-list">
    <tr>
      <th>Name</th>
      <th >Profession</th>
      <th>Contact</th>
      <th>Wellesley Affiliation</th>
      <th>Profile Link</th>

    </tr>
    {% for member in members %}
    <tr data-pid="{{member.get('email')}}">
      
      <td>{{ member.get('name') }}</td>
      <td>{{ member.get('profession') }}</td>
      <td>{{ member.get('email') }}</td>
      <td>{{ member.get('type') }}</td>
      <td><form method="get" action="{{ url_for('display_member', email = member.get('email')) }}">
        <input type="submit" name="memberEmail" value="{{member.get('email')}}">
      </form></td>
      {% endfor %}
  </table>
</div>

{% endblock %}

