{% extends "base.html"%}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{url_for('signup')}}">Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Login</a></li>
       
    </ul>
</div>
{% endblock %}

<!-- Masthead-->
{% block page_content%}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Central Experience</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A platform where professional development opportunities are centralized within the Wellesley College community.</h2>
                <a class="btn btn-primary" href="#about">Learn more</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">What is Central Experience?</h2>
                <p class="text-white-50">
                    A professional development resource database that connects members of the Wellesley community to opportunities.
                </p>
            </div>
        </div>
    </div>
<!-- Projects-->
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="../static/wellesley2.png" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Why are we important?</h4>
                            <p class="mb-0 text-white-50">
                                Our focus on accessibility and inclusivity.
                                <br>
                                Because existing opportunities are decentralized across platforms such as Facebook, LinkedIn, 
                                the Hive, G Suite, and more, even before they endure the application and interview process, students must do extensive research just to seek opportunities. 
                                Furthermore, underrepresented demographics face additional challenges as they navigate this process.
                                <br>
                                Our platform differentiates itself by consolidating these opportunities and 
                                experiences with a focus on Wellesley and a goal of inclusivity: making opportunities accessible and providing personalized information regarding opportunities 
                                for students of all backgrounds.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="../static/wellesley3.png" alt="..."/></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <p class="mb-0 text-white-50">A platform for the Wellesley College community and by the Wellesley College community.</p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <h2 class="text-white mb-5">Join our community!</h2>
                <a href="{{url_for('signup')}}"><button class="btn btn-primary" type="submit">Sign Up!</button></div></a>
            </div>
        </div>
</section>

{% endblock%}
