{% extends "base.html" %}

<!-- created by Farida Tahiry -->

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="{{url_for('upload')}}">Post Opportunity</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
  </ul>
</div>
{% endblock %}

{% block page_content %}


<div>
  <br><br><br>

    <div class = "Profileimage">
        <form method="get" action="{{ url_for('pic', email = member.get('email'))}}" enctype="multipart/form-data">            
            <div class="image-placeholder"> 
                <img src="{{src}}" alt="Your Picture">
            </div>
        </form>
        <form method="get" action="{{ url_for('file_upload') }}"> <i class="fas fa-user-alt"></i>Update Image 
            <input type="submit" name="Update Image">
        </form>   
    </div>

    <div class="ProfileContent">
        <p>Name: {{ member.get('name') }}</p>
        <p>Profession: {{ member.get('name') }}</p>
        <p>Contact: {{ member.get('name') }}</p>
        <p>Institution: {{ member.get('name') }}</p>
        <p>About: {{ member.get('name') }}</p>
    </div>


</div>
 
{% endblock %}
</body>
</html>
