{% extends "base.html" %}

<!-- created by Farida Tahiry -->

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="{{url_for('upload')}}">Post Opportunity</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
  </ul>
</div>
{% endblock %}

{% block page_content %}


<div class="memberPage">
  <br><br><br>

    <div class = "Profileimage">
        <form method="get" action="{{url_for('file_upload')}}" enctype="multipart/form-data">            
            <div class="image-placeholder"> 
                <img src="{{src}}" alt="Your Picture">
            </div>
        </form>
    </div>

    <div class="ProfileContent">
        <p>Name: {{ member.get('name') }}</p>
        <p>Profession: {{ member.get('profession') }}</p>
        <p>Contact: {{ member.get('email') }}</p>
        <p>Institution: {{ member.get('institution') }}</p>
        <p>Wellesley Affiliation: {{ member.get('type') }}</p>
        <p>About: {{ member.get('about') }}</p>
    </div>

</div>
 
{% endblock %}
</body>
</html>
