{% extends "base.html"%}

{% block page_content %}
<section class="signup-section" id="signup">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
              <h2 class="text-white mb-5">Sign Up</h2>
                  <form class="form-signup" id="signupForm" data-sb-form-api-token="API_TOKEN" action="{{url_for('signup')}}" method="POST">
                    <!-- Email address input-->
                        <label for="name"> Name</label><br>
                        <input class="form-control" id="name" type="text" name="name" placeholder="Wendy Wellesley" aria-label="Enter email address..." data-sb-validations="required,name" /><br><br>
                        <label for="email"> Wellesley Email Address</label><br>
                        <input class="form-control" id="emailAddress" type="email" name="email" placeholder="wendy@wellesley.edu..." aria-label="Enter email address..." data-sb-validations="required,email" /><br><br>
                        <label for="password"> Password</label><br>
                        <input class="form-control" id="password" type="password" name="password" placeholder="#wendy123!@#"  aria-label="Enter email address..." data-sb-validations="required,password" /><br><br>
                        <label for="password2"> Enter password again</label><br>
                        <input class="form-control" id="password2" type="password" name="password2" placeholder="#wendy123!@#"  aria-label="Enter email address..." data-sb-validations="required,password" /><br><br>

                        <div id="type"><br>
                          <h4>Type of relation to Wellesley College</h4>
                          <input type="radio" name="type" value="Student" required>
                          <label>Student</label>
                          <input type="radio" name="type" value="Professor" required>
                          <label>Professor</label>
                          <input type="radio" name="type" value="Alum" required>
                          <label>Alumn</label><br><br>
                        </div>
                        
                        <div class="col-auto"><button class="btn-primary" id="submitButton" type="submit" value="Sign Up">Next</button></div><br>
                  
                        <p><b>Already have an account? <a href="{{url_for('login')}}">Login here!</a></b></p>
                  </form>
                </div>
              </div>
          </div>
      </section>
<!-- 
 <h2>Sign Up Form</h2>
<form action="{{url_for('signup')}}" method='POST'>
  <label for="name"> Name:</label><br>
  <input type="text" id="name" name="name" value="" required><br><br>

  <label for="email">Wellesley Email:</label><br>
  <input type="email" id="email" name="email" value="" required><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value="" required><br><br>

  <label for="password2">Enter password again:</label><br>
  <input type="password" id="password" name="password2" value="" required><br><br>

  <div id="type">
    <p>Type of relation to Wellesley College:</p>
    <input type="radio" name="type" value="Student" required>
    <label>Student</label>
    <input type="radio" name="type" value="Professor" required>
    <label>Professor</label>
    <input type="radio" name="type" value="Alum" required>
    <label>Alumn</label><br><br>
  </div>
  <input type="submit" value="Sign Up">
</form><br><br> -->

<!-- <p>Already have an account? <a href="{{url_for('login')}}">Login here!</a></p> -->
{% endblock %}

</body>
</html>
