{% extends "base.html"%}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="{{url_for('member_profile_update')}}">{{member.get('name')}}</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('display')}}">View Opportunities</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('community')}}">Connect</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('save')}}">Saved</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
  </ul>
</div>
{% endblock %}

{% block page_content %}

<section class="signup-section" id="signup">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
              <h2 class="text-white mb-5">Post an Opportunity</h2>
                  <form class="form-signup" id="uploadForm" action="{{url_for('upload')}}" method="POST">
                        <label for="field"> Field</label><br>
                        <input class="form-control" id="field" type="text" name="field" aria-label="Enter email address..." placeholder="Computer Science" required /><br><br>
                        <label for="title"> Title</label><br>
                        <input class="form-control" id="title" type="text" name="title" placeholder="Design internship" aria-label="Enter email address..." required /><br><br>
                        <label for="description"> Description</label><br>
                        <input class="form-control" id="description" type="textarea" name="description" aria-label="Enter email address..." /><br><br>
                        <label for="institution"> Institution</label><br>
                        <input class="form-control" id="institution" type="text" name="institution" placeholder="ABC Inc" aria-label="Enter email address..." required /><br><br>
                        <label for="season">Season</label><br>
                        <input class="form-control" id="season" type="text" name="season" placeholder="Summer" aria-label="Enter email address..." required /><br><br>
                        <label for="year">Year</label><br>
                        <input class="form-control" id="year" type="text" name="year" placeholder="2022" aria-label="Enter email address..." required /><br><br>
                        <label for="location"> Location</label><br>
                        <input class="form-control" id="location" type="text" name="location" placeholder="New York, NY" aria-label="Enter email address..." /><br><br>
                        <label for="link">Application Link</label><br>
                        <input class="form-control" id="link" type="text" name="link" aria-label="Enter email address..." required /><br><br>
                  <!-- </form> -->
                  <!-- <form> -->
                  <p><b>Type of Experience</b></p>
                  <input type="radio" name="experienceType" value="Internship" required>
                  <label>Internship</label>
                  <input type="radio" name="experienceType" value="Full-Time" required>
                  <label>Full-Time</label>
                  <input type="radio" name="experienceType" value="Part-Time" required>
                  <label>Part-Time</label><br><br><br>
                  <p><b>Experience Level</b></p>
                  <input type="checkbox" name="experienceLevel" value="Freshman" required>
                  <label>Freshman</label>
                  <input type="checkbox" name="experienceLevel" value="Sophomore" required>
                  <label>Sophomore</label>
                  <input type="checkbox" name="experienceLevel" value="Junior" required>
                  <label>Junior</label>
                  <input type="checkbox" name="experienceLevel" value="Senior" required>
                  <label>Senior</label>
                  <input type="checkbox" name="experienceLevel" value="Any" required>
                  <label>Any</label><br><br><br>
                  <p><b>Visa Sponsorship</b></p>
                  <input type="radio" name="sponsorship" value="Yes" required>
                  <label>Yes</label>
                  <input type="radio" name="sponsorship" value="No" required>
                  <label>No</label>
                  <input type="radio" name="sponsorship" value="Maybe" required>
                  <label>Maybe</label>
                <!-- </form><br><br><br> -->
                <br><button class="btn btn-primary" id="submitButton" type="submit" value="Post">Post</button><br>
              </form>
                </div>
              </div>
          </div>
      </section>
{% endblock %}