{% extends "base.html" %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
    </ul>
</div>
{% endblock %}

{% block page_content %}

<style>
    .btn{
        background-color: aliceblue;
        color: black;
        width: 80%;
        height: 30%;
        text-align: center;
        border-bottom: 20%;
    }
</style>

<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Central Experience</h1>
                <span> 
                    <p><a class="btn btn-primary" href="{{url_for('display')}}">View Opportunities</a></p>
                    <p><a class="btn btn-primary" href="{{url_for('upload')}}">Post Job and Intership Opportunities</a></p>
                    <p><a class="btn btn-primary" href="{{url_for('community')}}">CentralEx Community</a></p>
                </span>        
            </div>
        </div>
    </div>
</header>
{% endblock %}