{% extends "base.html" %}

<!-- created by Farida Tahiry -->

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{url_for('display')}}">View Opportunities</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('upload')}}">Post Opportunity</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
    </ul>
</div>
{% endblock %}

{% block page_content %}
<div class="memberPage">
  <br><br><br>
    <div class = "Profileimage">
        <h3>Profile Picture</h3><br>
        <form method="get" action="{{url_for('pic', email = member.get('email'))}}" enctype="multipart/form-data">            
            <div class="image-placeholder"> 
                <img src="{{src}}" alt="Your Picture">
            </div>
        </form><br>
        <form method="get" action="{{ url_for('file_upload') }}"> <button class="btn btn-primary">Update Photo<i class="fas fa-user-alt"></i></button>  
        </form>   
        
    </div>

    <div class="ProfileContent">
        <h3>Information</h3><br>
        <p><b>Name:</b> {{ member.get('name') }} </p>
        <p><b>Profession:</b> {{ member.get('profession') }} </p>
        <p><b>Contact:</b> {{ member.get('email') }} </p>
        <p><b>Institution:</b> {{ member.get('institution') }} </p>
        <p><b>Wellesley Affiliation:</b> {{ member.get('type') }} </p>
        <p><b>About:</b> {{ member.get('about') }} </p>
        <p><form method="get" action="{{ url_for('signup') }}"> 
            <button class='btn btn-primary'>Update Information</button>  
        </form></p> 
    </div>
</div>
 
{% endblock %}
{% block footer %} {% endblock %}
